
:root .theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --decor-color: #000028;
  --title-color: #DB00FF;
  --title-decor-color: #FF0070;
  --button-border-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --decor-color: #000028;
  --title-color: #DB00FF;
  --title-decor-color: #FF0070;
  --button-border-color: rgba(255, 0, 112, 0.4);

  background-image: url(./../images/cover-image-dark.png);
}

.page.theme_dark .header__decorate-element {
  display: block;
}